@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@mixin resp($min, $max){
  @media screen and (min-width: $min + 'px') and (max-width: $max + 'px'){
    @content
  }
}
.container{
  @include wrapper();
}
a,div,span,h1,h2,h3,h4,h5,h6,p,li,ul{
  font-family: "Open Sans";
}
img{
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&subset=cyrillic,cyrillic-ext');