.contentArea{
    @include wrapper();
    box-sizing: border-box;
    display:  flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    &__title{
        width: 100%;
        margin-bottom: 50px;
    }
    &__tickets{
        @include size(8);
    }
    &__sidebar{
        @include size(2);
    }
}