.burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    &__line {
        width: 34px;
        background-color: #ffffff;
        height: 3px;
        border-radius: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    &._onWhite_background {
        .burger__line {
            background-color: #3c8ffc;
            background-image: linear-gradient(to right, #451bff 0%, rgba(69, 27, 255, 0) 100%);
        }
    }
}