.button {
    border: 2px solid #ff8e41;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    background: #ff8e41;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    font-family: Roboto;
}