.creativeBlock {
    @include wrapper();
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    flex-grow: 1;
    &__social {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
    &__socialItem {
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
    }
    &__toBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 80px;
        .creativeBlock__text {
            font-size: 0.55rem;
            margin-bottom: 20px;
        }
    }
}