.tickets{
    &__item{
        margin-bottom: 30px;
        padding: 0 30px;
    }
    &__info{
        padding-left: 15px;
        margin-top: 15px;
        color: #159CE0;
        font-size: 14px;
        font-family: Roboto;
    }
}